@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #00FF88;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-gradient{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}


/* Navbar related css */
#header{background-color: #1A0B2E;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.brand{
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--primary-color);
}
.brand span{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.nav-links li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.btn-group{
    color: var(--primary-color);
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.navbar-bottom-line{border: 1px solid rgba(128, 128, 128, 0.3);}
.hamburger-icon{display: none;}

/* Banner related css */
.banner{
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
}
.banner-image{
    padding: 70px 100px;
    background-image: url("./assets/hero-circle.png");
    background-size: cover;
    position: relative;
}
.banner-image img{width: 100%;}
.tooltip{
    position: absolute;
    top: 10px;
    right: 20px;
}
.tooltip span{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.banner-content{color: var(--primary-color);}
.banner-content h1{
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
}
.banner-content p{margin: 20px auto;}
.btn-group-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-group-container button:last-child{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* About podcast related css */
.about-podcast{background-color: #1A0B2E;}
.about-podcast-content{
    color: var(--primary-color);
    text-align: center;
    padding: 10px 150px;
}
.about-podcast-content h2{
    font-size: 3rem;
    font-weight: 700;
}
.about-podcast-content p{margin: 20px auto;}
.about-podcast-summary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.about-podcast-summary-card{
    padding: 15px;
    margin: 30px auto;
}
.about-podcast-summary-card h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.about-podcast-summary-card p{
    color: var(--primary-color);
    margin-top: 10px;
}


/* Mobile Media (max-576px) related css */
@media screen and (max-width: 576px) {
    .navbar{margin: 0px 10px;}
    .nav-links{display: none;}
    .navbar .btn-group{display: none;}
    .hamburger-icon{display: inline;}

    .about-podcast-content{padding: 15px;}
    .about-podcast-summary{grid-template-columns: repeat(2, 1fr);}
}



