@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #00FF88;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.bg-gradient{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
}


/* Navbar related css */
#header{background-color: #1A0B2E;}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.brand{
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--primary-color);
}
.brand span{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    background-clip: text;
    color: transparent;
}
.nav-links{
    display: flex;
    gap: 30px;
    list-style-type: none;
}
.nav-links li a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}
.btn-group{
    color: var(--primary-color);
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
/* Apply animation to the button */
.btn-group:hover{
    animation: myAnimation .5s ease forwards;
}
@keyframes myAnimation {
    from {
        transform: translateY(0);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0.1);
    }
    to {
        transform: translateY(-5px);
        box-shadow: 0 7px 20px rgba(255, 255, 255, 0.9);
    }
}
.navbar-bottom-line{border: 1px solid rgba(128, 128, 128, 0.3);}
.hamburger-icon{display: none;}

/* Banner related css */
.banner{
    background-image: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 80px 0;
}
.banner-image{
    padding: 70px 100px;
    background-image: url("./assets/hero-circle.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}
.banner-image img{width: 100%;}
.tooltip{
    position: absolute;
    top: 10px;
    right: 20px;
}
.tooltip span{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: var(--secondary-color);
}
.banner-content{color: var(--primary-color);}
.banner-content h1{
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
}
.banner-content p{
    margin: 20px auto;
    opacity: 0.6;
}
.btn-group-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-group-container button:last-child{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* About podcast related css */
.about-podcast{background-color: #1A0B2E;}
.about-podcast-content{
    color: var(--primary-color);
    text-align: center;
    padding: 10px 150px;
}
.about-podcast-content h2{
    font-size: 3rem;
    font-weight: 700;
}
.about-podcast-content p{
    margin: 20px auto;
    opacity: 0.6;
}
.about-podcast-content p:last-child{margin-bottom: 30px;}
.about-podcast-summary{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
.about-podcast-summary-card{
    padding: 15px;
    margin: 30px auto;
}
.about-podcast-summary-card h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary-color);
}
.about-podcast-summary-card p{
    color: var(--primary-color);
    margin-top: 10px;
}

/* Why choose related css */
.why-choose{
    background-color: #230E3D;
    color: var(--primary-color);
    padding: 75px 0px;
}
.why-choose .container h2,
.feature-episodes .container h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}
.why-choose-card-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.why-choose-card{
    background: rgba(53, 17, 101, 0.4);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 40px;
}
.why-choose-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 12px 0px;
}
.why-choose-card p{
    opacity: 0.6;
}
.why-choose-card:first-child{grid-row: 1 / span 2;}
.why-choose-card:nth-child(2),
.why-choose-card:nth-child(3){grid-column: 2 / span 2;}
.why-choose-card:nth-child(4){grid-column: 1 / span 2;}

/* Feature episodes related css */
.feature-episodes{
    background-color: #1A0B2E;
    color: var(--primary-color);
    padding-top: 80px;
}
.cards-container{
    display: flex;
    gap: 30px;
}
.single-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 25px;
}
.single-card iframe{
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    min-height: 205px;
}
.single-card h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 15px;
    padding: 0px 20px;
}
.single-card p{
    margin: 15px auto;
    opacity: 0.6;
    padding: 0px 20px;
}
.time-container{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0px 30px 20px;
    color: var(--secondary-color);
    font-weight: 500;
}

/* Meet the host related css */
.meet-host{
    background: #1A0B2E;
    color: var(--primary-color);
    padding: 75px 0px;
}
.meet-host .container h2{
    font-size: 3rem;
    font-weight: 700;
    padding: 30px 0px;
    text-align: center;
}
.host-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: rgba(53, 17, 101, 0.4);
    padding: 25px;
    border-radius: 40px;
}
.host-card-content > h3{
    font-size: 2rem;
    font-weight: 700;
}
.host-card-content > p{
    margin: 15px 0;
    opacity: 0.6;
}
.host-social-link{
    display: flex;
    gap: 10px;
}
.host-social-link a{
    border: 1px solid rgba(128, 128, 128, 0.3);
    padding: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-decoration: none;
}
.host-social-link .box img{width: 100%;}

/* Footer related css */
footer{
    color: var(--primary-color);
    padding: 50px 0px;
    background-image: url("./assets/footer-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-link-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin: 20px auto;
}
.social-link-container span{opacity: 0.6;}
.social-link{
    display: flex; 
    gap: 8px;
    text-decoration: none;
    color: var(--primary-color);
}
.footer-content p{opacity: 0.6; text-align: center;}


/* Mobile Media (max-576px) related css */
@media screen and (max-width: 576px) {
    .navbar{margin: 0px 10px;}
    .nav-links{display: none;}
    .navbar .btn-group{display: none;}
    .hamburger-icon{display: inline;}
    .banner-image{padding: 40px;}
    .banner-image img{width: 65%;}
    .tooltip{right: -10px;}
    .banner{background-position: 0% 30%; background-size: contain;}
    .about-podcast-content{padding: 15px;}
    .about-podcast-summary{grid-template-columns: repeat(2, 1fr);}
    .why-choose-card-container{grid-template-columns: 1fr;}
    .why-choose-card:first-child{grid-row: auto;}
    .why-choose-card:nth-child(2),
    .why-choose-card:nth-child(3),
    .why-choose-card:nth-child(4){grid-column: auto;}
    .why-choose-card{margin: 0px 15px;}
    .single-card iframe{height: 100%; min-height: 100%;}
    .cards-container{flex-direction: column; margin: 0px 15px;}
    .host-card-container{
        text-align: center; 
        flex-direction: column;
        margin: 0px 15px;
    }
    .host-social-link{ justify-content: center;}
    .social-link-container{grid-template-columns: repeat(2, 1fr); gap: 20px;}
}



